/**--- declare the font ----**/
@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900");
/**--- reset default styles ----**/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html,
body {
  height: 110vh;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  overflow-y: hidden;
  overflow-x: hidden; }

body * {
  outline: none !important; }

a,
a:focus,
a:active,
a:hover {
  text-decoration: none; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }
  ul li {
    list-styl-type: none; }

/*--------------------------
   Banner Section
  --------------------------*/
/**--- slider slides ----**/
.slide {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%; }

/**--- banner section ----**/
.banner-section {
  display: block;
  width: 100vw;
  height: 100vh;
  position: relative;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased; }
  .banner-section .slide-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #000;
    position: relative;
    z-index: 2; }
  .banner-section .slide {
    width: 100%;
    height: 100%;
    display: none;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover; }
    .banner-section .slide.one {
      background-image: url(../images/banner/banner-a.jpg); }
    .banner-section .slide.two {
      background-image: url(../images/banner/banner-b.jpg); }
    .banner-section .slide.three {
      background-image: url(../images/banner/banner-c.jpg); }

.banner-text,
.slide-text {
  position: absolute; }

.banner-text {
  width: 364px;
  height: auto;
  left: 0;
  opacity: 0;
  bottom: 156px;
  transition: 1.2s ease;
  -moz-transition: 1.2s ease;
  -webkit-transition: 1.2s ease; }
  .banner-text img {
    max-width: 100%;
    height: auto; }

/**--- banner text ----**/
.slide-text {
  width: 100%;
  max-width: 663px;
  height: auto;
  bottom: -200px;
  left: 0;
  transition: 1s ease;
  -moz-transition: 1s ease;
  -webkit-transition: 1s ease; }
  .slide-text .logo {
    width: 120px;
    float: left;
    background-color: #000;
    text-align: center;
    padding: 17px 0 18px; }
    .slide-text .logo img {
      max-width: 100%; }
  .slide-text .text {
    width: calc(100% - 120px);
    float: right;
    background: rgba(0, 0, 0, 0.4);
    padding: 32px 40px 31px 73px; }
    .slide-text .text p {
      color: #fff;
      font-size: 16px;
      font-weight: 300;
      text-align: left; }

/**--- pagination ----**/
ul.pagination {
  position: absolute;
  bottom: -100px;
  left: 0;
  right: 0;
  margin: auto;
  width: 80px;
  z-index: 3;
  transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -webkit-transition: 0.5s ease; }
  ul.pagination li {
    width: 10px;
    height: 30px;
    display: block;
    float: left;
    background-color: transparent;
    margin: 0 5px;
    position: relative;
    cursor: pointer; }
    ul.pagination li:before {
      content: '';
      display: block;
      height: 18px;
      width: 100%;
      bottom: 0;
      position: absolute;
      background-color: #fff;
      transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -webkit-transition: 0.3s ease; }
    ul.pagination li.selected:before {
      background-color: #f4bc1c;
      height: 30px; }
    ul.pagination li:hover:before {
      background-color: #ffff;
      height: 30px;
      transition: 0.5s ease;
      -moz-transition: 0.5s ease;
      -webkit-transition: 0.5s ease; }

/**--- active banner ----**/
.banner-section.sliderActive ul.pagination {
  bottom: 122px; }

/**--- active slide ----**/
.active-slide .slide-text {
  bottom: 0; }
.active-slide .banner-text {
  left: 40px;
  opacity: 1; }

/*# sourceMappingURL=style.css.map */
